h1
{ 
    color:blue; 
}

body
{
    background-image: url("images/unknown.png");
    font-family: Rubik-Regular;
}

@font-face
{
    font-family: "Rubik-Regular";
    src: url("Rubik/Rubik-Regular.ttf") format("truetype");
    scr: url("Rubik/Rubik-Black.ttf") format("truetype"),
         url("Rubik/Rubik-Bold.ttf") format("truetype"),
         url("Rubik/Rubik-Bolditalic.ttf") format("truetype"),
         url("Rubik/Rubik-Italic.ttf") format("truetype"),
         url("Rubik/Rubik-Light.ttf") format("truetype"),
         url("Rubik/Rubik-LightItalic.ttf") format("truetype"),
         url("Rubik/Rubik-Medium.ttf") format("truetype"),
         url("Rubik/Rubik-MediumItalic.ttf") format("truetype"),
}

h2
{
    color:green;
}

h3
{
    color:red;
}
    